#content{
    padding: 40px;
}
.home-content{
    font-size: xx-large;
    width: 40%;
    position: absolute;
    top: 200px;
    left: 100px;
}
img.bg{
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}