#content{
    padding: 0;
}
#inner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.menu{
    background-color: rgba(66, 62, 62, 0.212);
    width: 80vw;
    height: 80vh;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px groove rgba(66, 62, 62, 0.212);
    border-radius: 20px;
}
.menu-item{
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
img{
    width: 200px;
    height: 200px;
}