#content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.menu{
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.item{
    display: flex;
    justify-content: space-between;
}