@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/Gwendolyn-Bold.ttf') format('woff2'),
    url('./assets/fonts/Gwendolyn-Regular.ttf') format('woff');
  font-weight: 600;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'MyFont';
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
button{
    font-size: 40px;
    border-style: none;
    background: none;
}
img.bg{
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}