@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/Gwendolyn-Bold.ttf') format('woff2'),
    url('./assets/fonts/Gwendolyn-Regular.ttf') format('woff');
  font-weight: 600;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'MyFont';
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    background-color: rgba(66, 62, 62, 0.212);
    position: sticky;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{  
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 100px;
}
li{
    display: inline-block;
    position: relative;
}
.nav_link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav_link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
button{
    font-size: 40px;
    border-style: none;
    background: none;
}
